h1
{text-align: center;
background-color: grey;
font-family: cursive;
font-size: 40px;
color: white;}


div
{display: inline-block;
    margin: 10px;
    border: 1px solid #ffffff;
}

a:hover img
{border: 15px outset red;}

.do 
{ margin: 5px;
  font-size: 30px;
  font-family: arial;
  border: 3px solid black;
  color: purple;
  background: #666
}